src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd  http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    <apikit:config name="corona-api-config" api="resource::9a4a21cc-0c0a-4697-bff7-65d0b82a653d:corona-challenge-api:1.0.3:raml:zip:corona-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="corona-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="corona-api-config" />
		<error-handler ref="globalError_Handler" />
    </flow>
    <flow name="corona-api-console">
        <http:listener config-ref="HTTP_Listener_config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="corona-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\hospitals\(id_hospital):application\json:corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_hospital">attributes.uriParams.'id_hospital'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hospital updated (but not really)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\users\(id_user):application\json:corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_user">attributes.uriParams.'id_user'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User updated (but not really)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\hospitals\(id_hospital):corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_hospital">attributes.uriParams.'id_hospital'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hospital deleted (but not really)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\users\(id_user):corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_user">attributes.uriParams.'id_user'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight deleted (but not really)"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\hospitals:corona-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="73b8bb09-215e-456c-ad96-b6abd0b039bd" name="getHospitals" />
    </flow>
    <flow name="get:\users:corona-api-config">
        <flow-ref doc:name="Get Users" doc:id="543eae8d-da7a-48d8-89a6-48327bc873c2" name="getUsers" />
    </flow>
    <flow name="get:\hospitals\(id_hospital):corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_hospital">attributes.uriParams.'id_hospital'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 3,
  status: "empty"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(id_user):corona-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="id_user">attributes.uriParams.'id_user'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "12345678912",
  name: "Chad",
  surname: "Kroeger",
  citizenship: "Serbia",
  stateFrom: "Italy",
  symptoms: "yes",
  days_left: 0
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\hospitals:application\json:corona-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Hospital added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users:application\json:corona-api-config">
        <flow-ref doc:name="Post User" doc:id="87228e19-10ad-4f78-897d-d3686e6e0082" name="postUser" />
    </flow>
    <flow name="get:\history:corona-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="2728871c-e90a-4368-bdc3-83e548e804c1" name="getHistory"/>
    </flow>
</mule>
